* {
    margin: 0;
    box-sizing: border-box;
}

#gameText {
    height: 450px;
    max-height: 500px;
    overflow: auto;
    padding: 10px;
    background-color: black;
    color: white;
    float: left;
    width: 50%;
    font-size: 12px;
    font-family: "Courier New", Courier, monospace;
    white-space: break-spaces;
}

#gameChat {
    height: 450px;
    max-height: 450px;
    overflow: auto;
    padding: 10px;
    float: left;
    width: 50%;
    font-family: "Courier New", Courier, monospace;
    white-space: break-spaces;
}

#commands {
    width: 50%;
    padding: 15px;
}